body {
    margin: 0 auto;
}

header {
    display: flex;
    background-color: #2EE;
    padding: 20px 0;
}

ul {
    margin: 0;
    display: flex;
    list-style: none;
}

.header-li {
    margin-right: 20px;
}

a {
    text-decoration: none;
}

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.main-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.label-text {
    color: #fff;
}

.form-container {
    position: relative;
    z-index: 1;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 10px;
    width: 30%;
}

form {
    display: flex;
    flex-direction: column;
}

.label-div {
    display: flex;
    justify-content: space-between;
}

.error {
    font-size: 0.875rem;
    color: red;
    margin-top: 4px;
    padding: 5px 0;
    height: 11px;
}

.error-block {
    display: flex;
    justify-content: end;
}

.error-last {
    margin-bottom: 0;
    padding-bottom: 0;
}

.btn-block {
    display: flex;
    justify-content: center;
}

.loader {
    display: none;
    position: absolute;
    z-index: 2;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}